<div class="row">
  <div class="container" *ngIf="terceirizados.length === 0">
    <div class="row">
      <div class="col s12 grey lighten-4" style="margin-top: 1em">
        <br>
        <h5 class="center-align">Não há registros de funcionários desligados no sistema! Caso deseje desligar algum
          funcionário clique no atalho abaixo e siga o procedimento para desligamento de terceirizado:</h5>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect" (click)="acessoTerceirizados(codigoContrato)()">Gerenciar Função do Terceirizado</button>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="rescisaoForm" >
    <div formArrayName="calcularTerceirizados">
        <table class="highlight centered responsive-table hoverable"*ngIf="terceirizados.length !== 0">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="test5" (change)="isSelected = !isSelected"/>
                    <label for="test5"></label>
                </th>
                <th>Terceirizado</th>
                <th>Tipo de rescisão</th>
                <th>Data de desligamento</th>
                <th>Início de férias vencidas</th>
                <th>Fim de férias vencidas</th>
                <th>Resgatar férias vencidas</th>
                <th>Valor de férias vencidas</th>
                <th>Início de férias proporcionais</th>
                <th>Valor de férias proporcionais</th>
                <th>Valor de décimo terceiro</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let terceirizado of terceirizados; let i = index">
                <td>
                    <div [formGroupName]="i">
                        <input type="checkbox" [checked]="isSelected" [ngModel]="isSelected" formControlName="selected" id="{{i}}"/>
                        <label for="{{i}}"></label>
                    </div>
                </td>
                <td>{{terceirizado.nomeTerceirizado}}</td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col s12 center">
                                <select class="center-align " materialize="material_select" formControlName="tipoRescisao">
                                  <!--<option disabled>Selecione</option>-->
                                  <option value="A PEDIDO">A Pedido</option>
                                  <option value="COM JUSTA CAUSA">Com Justa Causa</option>
                                  <option value="SEM JUSTA CAUSA">Sem Justa Causa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{terceirizado.dataDesligamento | date: 'shortDate'}}</td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate formControlName="dataInicioFeriasIntegrais" maxlength="10">
                                <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasIntegrais').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasIntegrais').dirty ||
                                rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasIntegrais').touched)">
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasIntegrais').getError('mensagem')">
                                        <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasIntegrais').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasIntegrais').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar uma data!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate formControlName="dataFimFeriasIntegrais" maxlength="10">
                        <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataFimFeriasIntegrais').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataFimFeriasIntegrais').dirty ||
                                  rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataFimFeriasIntegrais').touched)">
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataFimFeriasIntegrais').getError('mensagem')">
                            <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataFimFeriasIntegrais').getError('mensagem')[0]">
                              <span class="mensagem-erro">{{msg}}</span>
                            </div>
                          </div>
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataFimFeriasIntegrais').getError('required')">
                            <span class="mensagem-erro">Você deve digitar uma data!</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="input-field col m11 center center-align centered">
                        <select class="validate"  materialize="material_select"
                                formControlName="resgateFeriasVencidas" required>
                          <option value="T">Selecione</option>
                          <option value="S">Sim</option>
                          <option value="N">Não</option>
                        </select>
                        <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('resgateFeriasVencidas').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('resgateFeriasVencidas').dirty ||
                                  rescisaoForm.get('calcularTerceirizados').get('' + i).get('resgateFeriasVencidas').touched)">
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('resgateFeriasVencidas').getError('mensagem')">
                            <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('resgateFeriasVencidas').getError('mensagem')[0]">
                              <span class="mensagem-erro">{{msg}}</span>
                            </div>
                          </div>
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('resgateFeriasVencidas').getError('required')">
                            <span class="mensagem-erro">Você deve selecionar uma opção.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" class="validate" currencyMask [options]="{prefix: 'R$', thousands: '.', decimal: ',', allowNegative: 'false'}"
                                       formControlName="valorFeriasVencidasMovimentado" maxlength="10" required>
                                <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasVencidasMovimentado').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasVencidasMovimentado').dirty ||
                                rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasVencidasMovimentado').touched)">
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasVencidasMovimentado').getError('mensagem')">
                                        <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasVencidasMovimentado').getError('mensagem')[0]">
                                            <span class="mensagem-erro">{{msg}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasVencidasMovimentado').getError('required')">
                                        <span class="mensagem-erro">Você deve digitar um valor a ser movimentado!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" class="validate" placeholder="Ex: 01/01/2000" appMaskDate formControlName="dataInicioFeriasProporcionais" maxlength="10" required>
                        <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasProporcionais').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasProporcionais').dirty ||
                                  rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasProporcionais').touched)">
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasProporcionais').getError('mensagem')">
                            <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasProporcionais').getError('mensagem')[0]">
                              <span class="mensagem-erro">{{msg}}</span>
                            </div>
                          </div>
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('dataInicioFeriasProporcionais').getError('required')">
                            <span class="mensagem-erro">Você deve digitar uma data !</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" class="validate" currencyMask [options]="{prefix: 'R$', thousands: '.', decimal: ',', allowNegative: 'false'}"
                               formControlName="valorFeriasProporcionaisMovimentado" maxlength="10" required>
                        <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasProporcionaisMovimentado').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasProporcionaisMovimentado').dirty ||
                                  rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasProporcionaisMovimentado').touched)">
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasProporcionaisMovimentado').getError('mensagem')">
                            <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasProporcionaisMovimentado').getError('mensagem')[0]">
                              <span class="mensagem-erro">{{msg}}</span>
                            </div>
                          </div>
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorFeriasProporcionaisMovimentado').getError('required')">
                            <span class="mensagem-erro">Você deve digitar um valor a ser movimentado!</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" class="validate" currencyMask [options]="{prefix: 'R$', thousands: '.', decimal: ',', allowNegative: 'false'}"
                               formControlName="valorDecimoTerceiroMovimentado" maxlength="10" required>
                        <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorDecimoTerceiroMovimentado').invalid && (rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorDecimoTerceiroMovimentado').dirty ||
                                  rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorDecimoTerceiroMovimentado').touched)">
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorDecimoTerceiroMovimentado').getError('mensagem')">
                            <div *ngFor="let msg of rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorDecimoTerceiroMovimentado').getError('mensagem')[0]">
                              <span class="mensagem-erro">{{msg}}</span>
                            </div>
                          </div>
                          <div *ngIf="rescisaoForm.get('calcularTerceirizados').get('' + i).get('valorDecimoTerceiroMovimentado').getError('required')">
                            <span class="mensagem-erro">Você deve digitar um valor a ser movimentado !</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<br>
<div class="container" *ngIf="tipoRestituicao == 'MOVIMENTACAO'">
    <div class="row" *ngIf="terceirizados && tipoRestituicao">
        <div class="center-align">
            <button class="btn waves-effect center" (click)="verificaDadosFormulario()" *ngIf="terceirizados.length !== 0 && !isLoading">Calcular</button>
        <div *ngIf="isLoading" class="preloader-wrapper big active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4 class="center">Atenção</h4>
        <br>
        <h5 class=" center">No mínimo uma pessoa deve ser selecionada para se realizar o cálculo !</h5>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect center"  (click)="closeModal1()">Ok</button>
    </div>
</div>
<div class="container">
    <div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions2">
        <div class="modal-content">
            <h4 class="center">Atenção</h4>
            <h5 class=" center">Preencha os campos adequadamente</h5>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect center" (click)="closeModal2()">Ok</button>
        </div>
    </div>
</div>
<div id="modal3" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions3">
  <div class="modal-content">
    <h4 class="center">Atenção</h4>
    <h5 class="center">Deseja Confirmar o cálculo realizado ?</h5>
    <p>Obs.: Esta ação não poderá ser desfeita futuramente *</p>
    <table *ngIf="calculosRescisao" class="highlight centered responsive-table hoverable">
      <thead>
      <tr>
        <th>Terceirizado</th>
        <th>Tipo restituição</th>
        <th>Tipo rescisão</th>
        <th>Desligamento</th >
        <th>Décimo Terceiro</th>
        <th>Início de férias vencidas</th>
        <th>Fim de férias vencidas</th>
        <th>Férias + 1/3 Integral</th>
        <th>Início de férias proporcionais</th>
        <th>Fim de férias proporcionais</th>
        <th>Férias + 1/3 Proporcional</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let calculo of calculosRescisao">
        <!--<p>{{calculo|json}}</p>-->
        <td>{{calculo.nomeTerceirizado}}</td>
        <td>{{calculo.tipoRestituicao}}</td>
        <td>{{calculo.tipoRescisao}}</td>
        <td>{{calculo.dataDesligamento | date:'shortDate'}}</td>
        <td>{{calculo.valorDecimoTerceiroMovimentado | currency:'BRL':true:'1.2-2'}}</td>
        <td>{{calculo.inicioFeriasIntegrais | date:'shortDate'}}</td>
        <td>{{calculo.fimFeriasIntegrais | date:'shortDate'}}</td>
        <td>{{calculo.valorFeriasVencidasMovimentado | currency:'BRL':true:'1.2-2'}}</td>
        <td>{{calculo.inicioFeriasProporcionais | date:'shortDate'}}</td>
        <td>{{calculo.fimFeriasProporcionais | date:'shortDate'}}</td>
        <td>{{calculo.valorFeriasProporcionaisMovimentado | currency:'BRL':true:'1.2-2'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
    <div class="modal-footer">
      <button class="btn waves-effect left" (click)="closeModal3()">Cancelar</button>
      <button *ngIf="!isLoading" class="btn waves-effect right" (click)="efetuarCalculo()">Confirmar</button>
      <div *ngIf="isLoading" class="preloader-wrapper active">
        <div class="spinner-layer">
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="modal4" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions4">
    <div class="modal-content">
        <h4 class="center">Cálculo realizado com sucesso !</h4>
    </div>
    <div class="modal-footer">
        <div class="center-align">
            <button class="btn waves-effect center" (click)="closeModal4()">Ok</button>
        </div>
    </div>
</div>
