<br>
<div class="row">
  <h5>Para Calcular:</h5>
  <p style="text-align: center">Primeiro, selecione o contrato onde está(ão) o(s) funcionário(s) o(s) qual(is) você deseja
    calcular a restituição:</p>
  <div class="input-field col s7">
    <select id="selecao_contrato" materialize="material_select" [materializeSelectOptions]="contratos"
            (change)="defineCodigoContrato($event.target.value)">
      <option disabled>Selecione um Contrato</option>
      <option *ngFor="let contrato of contratos" [value]="contrato.codigo"
      >{{contrato.nomeDaEmpresa}} - Contrato nº: {{contrato.numeroDoContrato}}
      </option>
    </select>
    <label for="selecao_contrato">Contrato<span class="red-text"> *</span></label>
  </div>
</div>
<div class="row">
  <p style="text-align: center">Em seguida, selecione entre os dois tipos de restituições - resgate ou movimentação:</p>
  <div class="input-field col s4">
    <select id="selecao_tipo_restituicao" materialize="material_select"
            (change)="defineTipoMovimentacao($event.target.value)">
      <option disabled selected>Selecione o tipo de restituição</option>
      <option value="RESGATE">Resgate</option>
      <option value="MOVIMENTACAO">Movimentação</option>
    </select>
    <label for="selecao_tipo_restituicao">Tipo de Restituição<span class="red-text"> *</span></label>
  </div>
</div>
<div class="row">
  <p style="text-align: center">Em seguida, selecione o ano base para o cálculo do décimo terceiro:</p>
  <p style="text-align: center"> (Lembre-se que o décimo terceiro só será retido integralmente pela conta vinculada após
    o segundo ano de contrato vigente no órgão.)</p>
  <div class="input-field col s2">
    <select id="selecao_ano" materialize="material_select" materialize="material_select"
            [materializeSelectOptions]="listaAnos" (change)="defineAnoCalculo($event.target.value)">
      <option disabled selected>Selecione o ano</option>
      <option *ngFor="let ano of listaAnos" [value]="ano">{{ano}}</option>
    </select>
    <label for="selecao_ano">Ano<span class="red-text"> *</span></label>
  </div>
</div>
<div *ngIf="terceirizados && (tipoRestituicao == 'MOVIMENTACAO')" class="row">
  <app-movimentacao-decimo-terceiro-component [tipoRestituicao]="tipoRestituicao" [codigoContrato]="codigo"
                                              [terceirizados]="terceirizados"
                                              (navegaParaViewDeCalculos)="eventNav($event)">
  </app-movimentacao-decimo-terceiro-component>
</div>
<div *ngIf="terceirizados && (tipoRestituicao == 'RESGATE')">
  <app-resgate-decimo-terceiro-component [tipoRestituicao]="tipoRestituicao" [codigoContrato]="codigo"
                                         [terceirizados]="terceirizados"
                                         (navegaParaViewDeCalculos)="eventNav($event)"></app-resgate-decimo-terceiro-component>
</div>
