<div materialize class="container">
  <h2 class="center">Percentuais Dinâmico</h2>
  <div class="row">
    <div class="col left">
      <button class="btn waves-effect" (click)="openModal()">Cadastrar Novo Percentual Dinâmico</button>
    </div>
    <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
         [materializeActions]="modalActions">
      <div class="modal-content">
        <app-cadastrar-percentual-dinamico *ngIf="render"></app-cadastrar-percentual-dinamico>
      </div>
      <div class="modal-footer">
        <button class="btn waves-effect left" (click)="closeModal()">Cancelar</button>
        <button class="btn waves-effect right" [disabled]="percentualDinamicoService.getValidity()"
                (click)="cadastraDinamicoEstatico()">Cadastrar
        </button>
      </div>
    </div>
  </div>

  <table class="bordered highlight centered z-depth-2 hoverable">
    <thead>
    <tr>
      <th>Percentual</th>
      <th>Data de Criação</th>
      <th>Criado por</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let percentual of dinamicPercent"(dblclick)="editarPercentualDinamico()" )>
      <td>{{percentual.percentual}}%</td>
      <td>{{percentual.dataAlteracao | datePipe}}</td>
      <td>{{percentual.currentUser}}</td>
    </tr>
    </tbody>
  </table>
</div>
