.row .col{
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
.tab a.active {
  color: white!important;
  background-color: #eceff1!important;
}
.tabs .tab a:hover {
  background-color: #404f54!important;
  color: white!important;
}
.tabs .tab a {
  color: #212121!important;
}
ul > .tabs > li > .indicator {
  background-color: black!important;
}
.mensagem-erro {
  color: red;
  font-size: 1em;
}
.validate.ng-dirty.ng-invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
.input-field input[type=text].valid.ng-invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 560px;
  max-height: 560px;
  background-color: #555;
  color: #000000;
  text-align: left;
  border-radius: 6px;
  padding: 8px 3px 3px 8px;
  position: absolute;
  z-index: 98;
  top: 125%;
  right: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
