<div materialize class="container">
    <h2 class="center">Percentuais Estáticos</h2>
    <div class="row">
        <div class="col left">
            <button class="btn waves-effect" (click)="openModal()">Cadastrar Novo Percentual Estático</button>
        </div>
        <div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]"
             [materializeActions]="modalActions">
            <div class="modal-content">
                <app-cadastrar-percentual-estatico *ngIf="render" [percent]="staticPercent"></app-cadastrar-percentual-estatico>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect left" (click)="closeModal()">Cancelar</button>
                <button class="btn waves-effect right" [disabled]="percentualEstaticoService.getValidity()"
                        (click)="cadastraPercentualEstatico()">Cadastrar</button>
            </div>
        </div>
    </div>
    <table class="bordered highlight centered z-depth-2 hoverable">
        <thead>
            <tr>
                <th>Rubrica</th>
                <th>Percentual</th>
                <th>Data de Início</th>
                <th>Data Fim</th>
                <th> Data Aditamento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let percentual of staticPercent"(dblclick)="editarPercentualEstatico(percentual.cod)">
                <td>{{percentual.nome}}</td>
                <td>{{percentual.percentual}}%</td>
                <td>{{percentual.dataInicio | datePipe}}</td>
                <td>{{percentual.dataFim | datePipe}}</td>
                <td>{{percentual.dataAditamento | datePipe}}</td>
            </tr>
        </tbody>
    </table>
</div>
