table.highlight tbody tr:hover {
  background-color: #9e9e9e;
  cursor: context-menu;
}
div#modal.modal.open {
  position: absolute;
  top: 10ch;
  background-color: white;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10ch !important;
  left: 25ch !important;
  width: 180ch !important;
  max-height: 70ch;
}
div .modal-footer {
  background-color: white;
}

li {
  list-style-type: none;
}

.collapsible-body {
  padding: 1.5vh 0 0;
}

.foo {
  width: 20px;
  padding-right: 20px;
}

.material-icons {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

