<div class="container">
  <h2 class="center-align">Contratos</h2>
</div>
<div class="container">
  <div class="row">
    <p style="text-align: center">Caro gestor, aqui são listados todos os seus contratos. Clique em NOVO CONTRATO
      para cadastrar um contrato Ou clique em NOVO AJUSTE para cadastrar um ajuste contratual.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="left col s12 ">
      <button class="waves-effect  btn large blue-grey darken-3" (click)="cadastrarContrato()">
        <a class="white-text">Novo Contrato<i class="material-icons right">add</i></a>
      </button>
      <button class="right col s0 waves-effect btn large blue-grey darken-3" (click)="cadastrarAjuste()">
        <a class="white-text">Novo Ajuste<i class="material-icons right">add</i></a>
      </button>
    </div>
  </div>
</div>
<div class="container">
  <table class="centered highlight responsive-table bordered z-depth-2 hoverable">
    <thead>
      <tr>
        <th>Empresa</th>
        <th>CNPJ</th>
        <th>Número do Contrato</th>
        <th>Ano do Contrato</th>
        <th>Objeto</th>
        <th>Início da Vigência</th>
        <th>Fim da Vigência</th>
        <th>Ativo?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contrato of contratos">
        <td>{{contrato.nomeDaEmpresa}}</td>
        <td>{{contrato.cnpj | cnpjPipe}}</td>
        <td>{{contrato.numeroDoContrato}}</td>
        <td>{{contrato.anoDoContrato}}</td>
        <td>{{contrato.objeto}}</td>
        <td>{{contrato.dataInicio | date: 'shortDate'}}</td>
        <td>{{contrato.dataFim | date: 'shortDate'}}</td>
        <td>{{contrato.seAtivo}}</td>
      </tr>
    </tbody>
  </table>
</div>
