.tab a.active {
  color: white!important;
  background-color: #eceff1!important;
}
.tabs .tab a:hover {
  background-color: #404f54!important;
  color: white!important;
}
.tabs .tab a {
  color: #212121!important;
}
ul > .tabs > li > .indicator {
  background-color: black!important;
}
.row .col{
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
/*
****** TOOLTIPS ******
*/
.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 560px;
  max-height: 560px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 3px 3px 8px;
  position: absolute;
  z-index: 98;
  top: 125%;
  right: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 33px;  /* Preferred icon size */
  color: #f43636f2;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
