<div class="container">
  <ul>
    <a class="tooltip right"><span class="tooltiptext">
      Para prosseguir com o cálculo Para realizar o procedimento de cálculo, clique na aba
        <a style="color: black;background-color: #a5a7aa">CALCULAR</a>, Selecione o contrato, o ano e o mês os quais deseja-se calcular as retenções e clique
      em <button class="btn waves-effect center">Calcular</button>. Note que ao selecionar corretamente as três opções,
      aparecerá a quantidade de terceirizados ativos no mês cabendo, ao gestor, verificar e corrigir esse número para
      cada nova alocação ou desligamento que ocorrer no contrato. Caso isso ocorra, utilize o atalho
      <button class="btn waves-effect">Gerenciar Função do Terceirizado</button> para realizar as correções. Caso queira
      ver o histórico dos cálculos anteriores, clique na aba <a style="color: black;background-color: #a5a7aa">RETENÇÕES</a> e selecione o contrato para consulta.
    </span> <i class="material-icons" style="color: black">help_outline</i></a>
  </ul>
    <h2 class="center-align">Cálculo de Retenções</h2>
</div>
<div class="container">
    <div class="row">
        <br>
        <div class="col s12">
            <ul class="tabs tabs-fixed-width" materialize="tabs" [materializeParams]="tabSelectionParams">
                <li class="tab col s3 text-grey text-darken-1" ><a [class.active]="testeRetencoes()"(click)="setRetencoesActive()">Histórico de Retenções</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeCalculo()" (click)="setCalcularActive()" >Calcular</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testePendentes()" (click)="setPendentesActive()">Cálculos Pendentes de Aprovação</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeExecutados()" (click)="setExecutadosActive()">Cálculos Pendentes de Execução</a></li>
            </ul>
        </div>
        <div id="test1" active="testeRetencoes()" ><app-total-mensal-ret *ngIf="testeRetencoes()" [contratoSelecionado]="codigoContrato"></app-total-mensal-ret></div>
        <div id="test2" class="col s12" active="testeCalculo()" ><app-total-mensal-calculo *ngIf="testeCalculo()" (navegaParaViewDeCalculos)="calculosPendentes($event)"></app-total-mensal-calculo></div>
        <div id="test3" class="col s12" active="testePendentes()"><app-total-mensal-pendente-component *ngIf="testePendentes()" [codigoContrato]="codigoContrato" (nav)="calculosPendentesExecucao($event)">
        </app-total-mensal-pendente-component></div>
        <div id="test4" class="col s12" active="testeExecutados()"><app-total-mensal-execucao-component *ngIf="testeExecutados()" [codigoContrato]="codigoContrato"
         (nav)="calculosRetidos($event)"></app-total-mensal-execucao-component></div>
    </div>
</div>
