<div class="container">
  <ul>
    <a class="tooltip right"><span class="tooltiptext">
        Nesta aba você poderá calcular as retenções mensais dos seus contratos, para isso, basta clicar em um de seus
        contratos abaixo e seguir as instruções. Você também poderá consultar a tramitação de suas retenções nas sub-abas
         <a style="color: black;background-color: #a5a7aa">CÁLCULOS PENDENTES DE APROVAÇÃO</a> e <a style="color: black;
         background-color: #a5a7aa">CÁLCULOS PENDENTES DE EXECUÇÃO</a>. Depois de liquidadas, o detalhamento de cada
        retenção feita ira para a sub-aba <a style="color: black;background-color: #a5a7aa">HISTÓRICO DE RENTENÇÕES</a>.
    </span> <i class="material-icons small" style="color: #404f54">help_outline</i></a>
  </ul>
    <h2 class="center-align">Cálculo de Retenções</h2>
</div>
<div class="container">
    <div class="row">
        <br>
        <div class="col s12">
            <ul class="tabs tabs-fixed-width" materialize="tabs" [materializeParams]="tabSelectionParams">
                <li class="tab col s3 text-grey text-darken-1" ><a [class.active]="testeRetencoes()"(click)="setRetencoesActive()">Histórico de Retenções</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeCalculo()" (click)="setCalcularActive()" >Calcular</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testePendentes()" (click)="setPendentesActive()">Cálculos Pendentes de Aprovação</a></li>
                <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeExecutados()" (click)="setExecutadosActive()">Cálculos Pendentes de Execução</a></li>
            </ul>
        </div>
        <div id="test1" active="testeRetencoes()" ><app-total-mensal-ret *ngIf="testeRetencoes()" [contratoSelecionado]="codigoContrato"></app-total-mensal-ret></div>
        <div id="test2" class="col s12" active="testeCalculo()" ><app-total-mensal-calculo *ngIf="testeCalculo()" (navegaParaViewDeCalculos)="calculosPendentes($event)"></app-total-mensal-calculo></div>
        <div id="test3" class="col s12" active="testePendentes()"><app-total-mensal-pendente-component *ngIf="testePendentes()" [codigoContrato]="codigoContrato" (nav)="calculosPendentesExecucao($event)">
        </app-total-mensal-pendente-component></div>
        <div id="test4" class="col s12" active="testeExecutados()"><app-total-mensal-execucao-component *ngIf="testeExecutados()" [codigoContrato]="codigoContrato"
         (nav)="calculosRetidos($event)"></app-total-mensal-execucao-component></div>
    </div>
</div>
