<h2 class="center" *ngIf="!id">Cadastrar Usuário</h2>
<h2 class="center" *ngIf="id">Editar Informações de Usuário</h2>
<br>
<div class="container">
    <div class="row" *ngIf="!id">
        <form materialize class="col  s12" [formGroup]="usuarioForm">
            <div class="row">
                <div class="col s12 l4">
                    <label for="nome_usuario">Nome do Gestor</label>
                    <input placeholder="Nome" id="nome_usuario" type="text" class="validate" maxlength="30" required (keyup)="verifyForm(); activateButton()" formControlName="nome">
                </div>
                <div class="col s12 l4 offset-l2">
                    <label for="login">Nome de Usuário</label>
                    <input placeholder="Login" id="login" type="text" class="validate" required (keyup)="verifyForm(); activateButton()" formControlName="login">
                </div>
            </div>
            <div class="row">
                <div class="col s12 l4">
                    <label for="password">Senha</label>
                    <input placeholder="Senha" id="password" type="password" class="validate" required formControlName="password" (keyup)="verifyForm(); activateButton()">
                </div>
                <div class="col s12 l4 offset-l2">
                    <label for="confirm_password">Confirme a Senha</label>
                    <input  id="confirm_password" type="password" class="validate" required formControlName="confirmPassword" (keyup)="verifyForm()">
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <select materialize="material_select" [materializeSelectOptions]="perfil" formControlName="sigla" (change)="verifyForm(); activateButton()">
                        <option disabled>Selecione um Perfil</option>
                        <option *ngFor="let per of perfil" [value]="per">{{per}}</option>
                    </select>
                    <label>Perfil do Usuário</label>
                </div>
            </div>
        </form>
    </div>
<!--    <div class="row" *ngIf="id">-->
  <div class="container"*ngIf="id">
      <form [formGroup]="editaUsuarioForm">
        <div class="row">
          <div class="col s12 l4">
            <label for="nome-usuario-edicao">Nome do Gestor</label>
            <input placeholder="Nome" id="nome-usuario-edicao" type="text" class="validate" maxlength="30" required (keyup)="verifyEditForm(); activateButton()" formControlName="nome">
          </div>
          <div class="col s12 l4">
            <label for="login-edicao">Nome de Usuário</label>
            <input placeholder="Login" id="login-edicao" type="text" class="validate" required (keyup)="verifyEditForm(); activateButton()" formControlName="login">
          </div>
          <div class="row">
            <div class="col s12 l4">
              <label for="old-password">Digite a senha antiga</label>
              <input  id="old-password" type="password" class="validate" required formControlName="password" (keyup)="verifyEditForm()">
            </div>
            <div class="col s12 l4">
              <label for="new-password">Digite a nova senha</label>
              <input  id="new-password" type="password" class="validate" required formControlName="newPassword" (keyup)="verifyEditForm()">
            </div>
            <div class="col s12 l4">
            <label for="confirm-new-password">Confirme a nova senha</label>
            <input  id="confirm-new-password" type="password" class="validate" required formControlName="confirmNewPassword" (keyup)="verifyEditForm()">
            </div>
            <div class="row">
              <div class="input-field col">
                <select materialize="material_select" [materializeSelectOptions]="perfil" formControlName="sigla" (change)="verifyEditForm(); activateButton()">
                  <option disabled>Selecione um Perfil</option>
                  <option *ngFor="let per of perfil" [value]="per">{{per}}</option>
                </select>
                <label>Perfil do Usuário</label>
              </div>
            </div>
          </div>
        </div>
      </form>
        <button class="btn waves-effect right" [disabled]="(!salvarButtonDisabled && cadUs.getValidity()) || (salvarButtonDisabled)" (click)="salvarAlteracao()">Salvar</button>
        <button class="btn waves-effect left"(click)="disableButton()" routerLink="/usuarios">Voltar</button>
  </div>
</div>
<div id="modal4" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions4">
  <div class="modal-content">
    <h4 class="center">Ok</h4>
    <h5 class="center">As alterações foram salvas com sucesso !</h5>
  </div>
  <div class="modal-footer">
    <button class="waves-effect btn" (click)="navTer()">Ok</button>
  </div>
</div>
<div id="modal5" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions5">
  <div class="modal-content">
    <h4 class="center">ERRO</h4>
    <h5 class="center">Ocorreu algum erro ao tentar salvar as alterações!</h5>
    <p>Tente novamente mais tarde</p>
  </div>
  <div class="modal-footer">
    <button class="waves-effect btn" (click)="navTer()">Ok</button>
  </div>
</div>
<div id="modal6" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions6">
  <div class="modal-content">
    <h4 class="center">ERRO</h4>
    <h5 class="center">A senha antiga não confere com a senha digitada</h5>
    <p>Tente novamente mais tarde</p>
  </div>
  <div class="modal-footer">
    <button class="waves-effect btn" (click)="navTer()">Ok</button>
  </div>
</div>
