<div class="container">
    <div class="row">
        <h2 class="center">Histórico de Gestores</h2>
    </div>
    <div class="row">
        <p style="text-align: center">Nesta aba você poderá consultar os gestores antes a você e consultar também quem
            são
            seus substitutos em cada contrato.</p>
    </div>
</div>
<div class="container">
    <div class="row" *ngIf="historicoGestor">
        <div class="col">
            <table class="hoverable highlight centered">
                <thead>
                <tr>
                    <th></th>
                    <th>Gestor</th>
                    <th>Sigla</th>
                    <th>Início da Gestão</th>
                    <th>Fim da Gestão</th>
                    <th>Atualizado por...</th>
                    <th>Última Atualização</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let historico of historicoGestor; let i=index">
                    <td>{{i + 1}}</td>
                    <td>{{historico.gestor}}</td>
                    <td>{{historico.sigla}}</td>
                    <td>{{historico.inicio}}</td>
                    <td>{{historico.fim | datePipe}}</td>
                    <td>{{historico.loginAtualizacao}}</td>
                    <td>{{historico.dataAtualizacao}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row center" *ngIf="admin">
        <button class="btn waves-effect" (click)="cadastroGestorContrato()">Cadastrar Gestor no Contrato</button>
    </div>
</div>

