<div class="container">
  <h2 class="center">Infográficos</h2>
  <br>
  <div id="container" style="text-align: center">
    <div class="preloader-wrapper big active" *ngIf="loading" style="margin-top: 50px">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div style=" margin: auto;">
      <canvas *ngIf="id == 1" style="width: 50vw; height: 40vh"  id="myChart"></canvas>
      <canvas *ngIf="id == 2" style="width: 50vw; height: 40vh"  id="myChart2"></canvas>
      <canvas *ngIf="id == 3" style="width: 50vw; height: 40vh"  id="myChart3"></canvas>
    </div>
    <br>
    <div >
      <form class="row" action="#" (change)=selecionaGrafico($event.target.id)>
        <p>
          <label>
            <input name="group1" type="radio" id="1" checked/>
            <label for="1">Saldo acumulado</label>
          </label>
        </p>
        <p>
          <label>
            <input name="group1" type="radio" id="2" />
            <label for="2">Número de Terceirizados</label>
          </label>
        </p>
        <p>
          <label>
            <input name="group1" type="radio" id="3"/>
            <label for="3">Saldo por Rúbrica</label>
          </label>
        </p>
      </form>
    </div>
  </div>
</div>
