<div class="container">
  <div class="pin-top right material-icons" title="Para realizar o procedimento de cáculo, clique em CALCULAR e siga  as  instruções.
Caso queria ver o histórico de restituições já feitas, clique na  aba  RESTITUIÇÕES
DE FÉRIAS.
PARA CALCULAR O RESGATE:
Primeiro, selecione o contrato  para  cálculo, Em seguida, selecione entre os dois
tipos de restituições - resgate ou movimentação.Marque o(s) funcionário(s) que deseja
realizar o cálculo, especifique o parcelamento da restituição, o início e o fim das
férias  do  terceirizado  e,  se existir,informe a quantidade de dias que foram vendidos.
Para fazer o  cálculo  de TODOS os terceirizados de uma só vez, marque aprimeira caixa
de seleção (ao  lado da coluna Terceirizados).
PARA CALCULAR A MOVIMENTAÇÃO:
Marque o(s) funcionário(s), especifique o parcelamento da restituição, o início e o fim
das férias do terceirizado, os dias que foramvendidos e o montante a ser movimentado.
Para fazer o cálculo de TODOS os terceirizados de uma só vez, marque a primeira caixa
de seleção(ao lado da coluna Terceirizados)." style="cursor: help">help_outline</div>
      <h2 class="center">Férias</h2>
  <br>
  <div class="row">
    <br>
    <div class="col s12">
      <ul class="tabs tabs-fixed-width" materialize="tabs" [materializeParams]="tabSelectionParams">
        <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeRetencoes()"
                                                          (click)="setRetencoesActive()">Restituições de férias</a></li>
        <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeCalculo()" (click)="setCalcularActive()">Calcular</a>
        </li>
        <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testePendentes()"
                                                          (click)="setPendentesActive()">Cálculos Pendentes de
          Aprovação</a></li>
        <li class="tab col s3 text-grey text-darken-1"><a [class.active]="testeExecutados()"
                                                          (click)="setExecutadosActive()">Cálculos Pendentes de
          Execução</a></li>
      </ul>
    </div>
    <div class="divider"></div>

    <div id="test1" class="col s12" active="testeRetencoes()">
      <app-relatorio-retencoes-ferias-component *ngIf="testeRetencoes()"></app-relatorio-retencoes-ferias-component>
    </div>
    <div id="test2" class="col s12" active="testeCalculo()">
      <app-calculo-ferias-component *ngIf="testeCalculo()"
                                    (navegaParaViewDeCalculos)="calculosPendentes($event)"></app-calculo-ferias-component>
    </div>
    <div id="test3" class="col s12" active="testePendentes()">
      <app-ferias-calculos-pendentes *ngIf="testePendentes()" [calculosPendentes]="cp"
                                     (nav)="calculosExecutados($event)"></app-ferias-calculos-pendentes>
    </div>
    <div id="test4" class="col s12" active="testeExecutados()">
      <app-ferias-calculos-pendentes-execucao *ngIf="testeExecutados()" [calculosPendentesExecucao]="cpe"
                                              (nav)="retencoes()"></app-ferias-calculos-pendentes-execucao>
    </div>
  </div>
</div>
